In [174]:
import pandas as pd
import numpy as np
import math 

train = pd.read_csv('data/stores_train.csv', nrows= 2000)
def dist_to_all_km(lat, lon, df):

    # coordinates in radians
    lat1 = lat*math.pi/180
    lon1 = lon*math.pi/180
    lat2 = df['lat']*math.pi/180 # go through whole lat column
    lon2 = df['lon']*math.pi/180 # go through whole lon column

    # store original coordinates in new dataframe
    distances = pd.DataFrame()
    distances['lat'] = df['lat'].copy()
    distances['lon'] = df['lon'].copy()

    # calculate cartesian coordinates
    R = 6371 # Earth radius in km
    df['x'] = R*np.cos(lat2)*np.cos(lon2)
    df['y'] = R*np.cos(lat2)*np.sin(lon2)
    df['z'] = R*np.sin(lat2)
    x1 = R*np.cos(lat1)*np.cos(lon1)
    y1 = R*np.cos(lat1)*np.sin(lon1)
    z1 = R*np.sin(lat1)

    # calculate distance, store as new column in the distances dataframe
    distances['dist'] = np.sqrt(np.square(df['x']-x1)+np.square(df['y']-y1)+np.square(df['z']-z1))

    return distances['dist'].squeeze()

In [175]:
a = dist_to_all_km(59, 10, train)
print(dist_to_all_km(59, 10, train))
print(type(a))

0         83.440246
1        109.742678
2        130.302897
3        945.569713
4        484.892100
           ...
1995     123.603020
1996     596.192053
1997    1197.496522
1998     117.259350
1999     493.150570
Name: dist, Length: 2000, dtype: float64
<class 'pandas.core.series.Series'>

In [176]:

train = pd.read_csv('data/stores_train.csv', nrows= 1000)
train = train.drop('chain_name', axis=1)
train = train.drop('mall_name', axis=1)
train = train.drop('sales_channel_name', axis=1)
train['lv2'] = train['plaace_hierarchy_id'].astype(str).str[:5]
train['closest_store'] = None
train['mean_revenue_of_similar_stores_within 2km'] = None
train['mean_revenue_of_similar_stores_within_5km'] = None
train['median_2km'] = 0
train['median_5km'] = 0

num = 0 
mylist = []
for index in range(len(train)):
    lat = train._get_value(index,'lat')
    lon = train._get_value(index,'lon')
    lvl = train._get_value(index, 'lv2')
    dist_to_all = dist_to_all_km(lat, lon, train)
    smallest = min(dist_to_all[dist_to_all != 0.0])
    mylist.append(smallest)

    num2k = 0
    rev2k = []
    
    num5k = 0
    rev5k = []

    iter = 0
    for distance in dist_to_all:
        if distance < 30 and train._get_value(iter, 'lv2') == lvl:
            rev2k.append(train._get_value(iter, 'revenue'))
            num2k += 1

        if distance < 50  and train._get_value(iter, 'lv2') == lvl:
            rev5k.append(train._get_value(iter, 'revenue'))
            num5k += 1
        iter += 1
    train._set_value(index, 'closest_store', float(smallest))
    train._set_value(index, 'mean_revenue_of_similar_stores_within 2km', sum(rev2k)/num2k)
    train._set_value(index, 'mean_revenue_of_similar_stores_within_5km', sum(rev5k)/num5k)
    train._set_value(index, 'median_2km', float(np.median(rev2k)))
    train._set_value(index, 'median_5km', float(np.median(rev5k)))


    num+=1 #for runtime tracking only

train.head(20)

,store_id,year,store_name,plaace_hierarchy_id,grunnkrets_id,address,lat,lon,revenue,lv2,closest_store,mean_revenue_of_similar_stores_within 2km,mean_revenue_of_similar_stores_within_5km,median_2km,median_5km,x,y,z
0,983540538-974187930-44774,2016,MCDONALD'S BRAGERNES TORG MAGASINET,1.1.1.0,6020303,BRAGERNES TORG 13,59.743104,10.204928,17.998,1.1.1,0.068246,17.998,11.228429,17,14,3159.422103,568.750298,5503.109673
1,987074191-973117734-44755,2016,MCDONALD'S KLINGENBERGGATA,1.1.1.0,3010306,NaN,59.913759,10.734031,23.828,1.1.1,0.050408,8.9004,11.228429,2,14,3137.917127,594.846117,5512.646842
2,984890265-981157303-64491,2016,BURGER KING HØNEFOSS,1.1.1.0,6050102,KONG RINGS GATE 1,60.164751,10.254656,16.099,1.1.1,0.090592,16.099,11.228429,16,14,3118.990969,564.267188,5526.584739
3,914057442-992924179-126912,2016,BURGER KING GLASSHUSPASSASJEN,1.1.1.0,18040102,STORGATA 12,67.283669,14.379796,9.296,1.1.1,0.038626,10.91,10.91,10,10,2383.203886,611.007066,5876.789141
4,913018583-913063538-668469,2016,BURGER KING TILLERTORGET,1.1.1.0,16017414,NaN,63.358068,10.374832,4.528,1.1.1,0.473706,13.3785,13.3785,13,13,2810.134063,514.480268,5694.567376
5,998035295-979540094-54657,2016,BURGER KING STAVANGER,1.1.1.0,11030509,TORGET 7,58.970249,5.731728,12.020,1.1.1,0.050832,20.4505,20.4505,20,20,3267.723419,327.989792,5459.308322
6,916757433-916772262-822439,2016,BURGER KING NARVIK,1.1.1.0,18050706,BOLAGSGATA 1,68.438025,17.422916,7.622,1.1.1,0.177598,7.622,7.622,7,7,2233.968273,701.064604,5925.161194
7,913158733-913203305-675470,2016,GRENSEN BURGERBAR,1.1.1.0,1010301,OLAV VS GATE 1,59.119175,11.389572,3.640,1.1.1,0.090564,3.64,3.64,3,3,3205.547103,645.744581,5467.826141
8,982174139-982239737-14482,2016,MCDONALD'S ÅSANE SENTER,1.1.1.0,12010915,ÅSANE SENTER 37,60.465118,5.324101,30.514,1.1.1,0.354444,30.514,30.514,30,30,3127.056413,291.414986,5543.125156
9,916217153-911834553-435311,2016,BERGBYS NOTODDEN,1.1.1.0,8070301,NESØYA,59.559079,9.249380,6.339,1.1.1,19.315649,6.339,6.339,6,6,3185.896569,518.820825,5492.770613
10,911917696-911923149-620844,2016,DUDEBURGER.NO,1.1.1.0,5010512,GUDBRANDSDALSVEGEN 191,61.128926,10.452248,5.020,1.1.1,1.414976,5.02,5.02,5,5,3025.131165,558.067458,5579.138209
11,917580618-917676909-855902,2016,BURGER KING TRIADEN LØRENSKOG STORSENTER,1.1.1.0,2300312,ISAK H. WIIKS GATE 3,59.919147,10.952195,1.873,1.1.1,2.725174,8.9004,11.228429,2,14,3135.120491,606.691495,5512.947119
12,999257828-999539467-544070,2016,HEMSEDAL BURGER,1.1.1.0,6180101,NaN,60.862796,8.556376,3.445,1.1.1,25.816208,3.445,3.445,3,3,3067.530704,461.531666,5564.789745
13,983824072-983830064-55039,2016,MCDONALD'S NIDARVOLL,1.1.1.0,16014202,BAARD IVERSENS VEG 2,63.401103,10.403470,22.229,1.1.1,1.221286,13.3785,13.3785,13,13,2805.668907,515.112238,5696.711540
14,915953964-916000669-789430,2016,BURGER KING CITY NORD,1.1.1.0,18040312,NaN,67.277650,14.422654,12.524,1.1.1,0.009165,10.91,10.91,10,10,2383.344088,612.943323,5876.530647
15,918023925-918087567-872230,2016,BURGER KING AMFI KANEBOGEN,1.1.1.0,19030306,SKILLEVEIEN,68.779439,16.566267,0.456,1.1.1,2.338154,0.456,0.456,0,0,2210.319196,657.508040,5939.007765
16,915123171-984245270-62920,2016,EURO HAMBURGER,1.1.1.0,3012402,HERSLEBS GATE 7 A,59.918638,10.762711,2.128,1.1.1,0.056726,8.9004,11.228429,2,14,3137.157856,596.329099,5512.918754
17,917992428-918048308-870613,2016,BURGER KING STORD,1.1.1.0,12210305,HAMNEGATA 11,59.778507,5.499306,0.895,1.1.1,2.785398,0.895,0.895,0,0,3192.045655,307.320008,5505.092183
18,997818822-983493424-62501,2016,BURGER KING KRISTIANSUND,1.1.1.0,15050201,KONGENS PLASS 4,63.110583,7.729568,5.127,1.1.1,0.075149,5.127,5.127,5,5,2855.231347,387.542915,5682.174359
19,998709652-998719038-423291,2016,DØGNVILL BAR & BURGER,1.1.1.0,11030509,SKAGENKAIEN 5,58.970630,5.731236,28.881,1.1.1,0.041429,20.4505,20.4505,20,20,3267.690177,327.958113,5459.330122