In [ ]:
import pandas as pd
import numpy as np
from sklearn.neighbors import BallTree
import random

n = 12860 #number of records in file
s = 50 #desired sample size
skip = sorted(random.sample(range(n),n-s))


train_data = pd.read_csv('/home/paaske/Documents/ML-project/data/stores_train.csv', nrows= 50)
train_data['num_stores_within_distance'] = 0
import numpy as np
from sklearn.neighbors import BallTree

##coordiante = train_data.loc[train_data['lat'], train_data['lon'], train_data['plaace_hierarchy_id']]
#coordinate = train_data[['lon', 'lat', 'plaace_hierarchy_id']]
#coordinate['id1'] = coordinate['plaace_hierarchy_id'].apply(lambda x: int(x[0]))
#coordinate['id2'] = coordinate['plaace_hierarchy_id'].apply(lambda x: int(x[2]))
#coordinate['id3'] = coordinate['plaace_hierarchy_id'].apply(lambda x: int(x[4]))
#coordinate['id4'] = coordinate['plaace_hierarchy_id'].apply(lambda x: int(x[6]))
#df = coordinate[['lon', 'lat', 'id1', 'id2', 'id3', 'id4']]
#
#
#tree = BallTree(df, leaf_size=2)
#df = tree.query_radius(df.groupby(['id1']), r=0.3, count_only=True)
#
#df.head(50)



#train_data['num_stores_within_distance'] = 0
#for index in range(len(train_data)):
#    lvl1 = train_data._get_value(index,'lv2')
#    lat1 = train_data._get_value(index,'lat')
#    lon1 = train_data._get_value(index,'lon')
#    count = 0
#    for inx in range(len(train_data)):
#        lvl2 = train_data._get_value(inx,'lv2')
#        lat2 = train_data._get_value(inx,'lat')
#        lon2 = train_data._get_value(inx,'lon')
#        try:
#            dist = geopy.distance.geodesic((lat1, lon1), (lat2, lon2)).km #some values have nan in them. must be fixed. 
## Number of stores in same lv2 in each municipality
#nbr_in_municipality = train_data[["store_id","municipality_name", "lv2"]].groupby(
#    ["municipality_name", "lv2"]
#).count().reset_index()
#nbr_in_municipality.columns = ["grunnkrets_id", "lv2", "counts_gr_lv2"]
#train_data.merge(counts, how="left", on=["grunnkrets_id", "lv2"])

In [ ]:
import pandas as pd
def dist(lat, lon, df): #distance from (lat, lon) to all other stores in the dataframe
    lat1 = abs(df['lat'] - lat)
    lon1 = abs(df['lon'] - lon)
    eucdist = np.sqrt(lon1**2 + lat1**2)
    return eucdist

train_data = pd.read_csv('/home/paaske/Documents/ML-project/data/stores_train.csv')

coordinate = train_data[['lon', 'lat', 'plaace_hierarchy_id']]
coordinate['id1'] = coordinate['plaace_hierarchy_id'].apply(lambda x: int(x[0]))
coordinate['id2'] = coordinate['plaace_hierarchy_id'].apply(lambda x: int(x[2]))
coordinate['id3'] = coordinate['plaace_hierarchy_id'].apply(lambda x: int(x[4]))


df = coordinate[['lon', 'lat', 'id1', 'id2', 'id3']]
df['num_stores_within_distance_and_same_lvl'] = 0
df['num_stores_within_distance'] = 0


def number_within_distance_and_lvl(distance, level):
    num = 0
    for index in range(len(df)):
        lat = df._get_value(index,'lat')
        lon = df._get_value(index,'lon')
        lvl = df._get_value(index,str(level))
        dist_to_all = dist(lat, lon, df)
        count = 0
        for number in range(len(dist_to_all)):
            if dist_to_all[number] < distance and lvl == df._get_value(number, level):
                count += 1  
        df._set_value(index, 'num_stores_within_distance_and_same_lvl', count)
        num+=1
        print(str(num) + "/12860")


def number_within_distance(distance):
    for index in range(len(df)):
        lat = df._get_value(index,'lat')
        lon = df._get_value(index,'lon')
        dist_to_all = dist(lat, lon, df)
        number = sum((i < distance for i in dist_to_all))
        df._set_value(index, 'num_stores_within_distance', number)



#number_within_distance(3)
number_within_distance_and_lvl(3, "id1")
df.head(50)

In [89]:
import pandas as pd

spd = pd.read_csv('../data/stores_train.csv')
spd.head()

,store_id,year,store_name,plaace_hierarchy_id,sales_channel_name,grunnkrets_id,address,lat,lon,chain_name,mall_name,revenue
0,983540538-974187930-44774,2016,MCDONALD'S BRAGERNES TORG MAGASINET,1.1.1.0,Hamburger restaurants,6020303,BRAGERNES TORG 13,59.743104,10.204928,MCDONALDS,Magasinet Drammen,17.998
1,987074191-973117734-44755,2016,MCDONALD'S KLINGENBERGGATA,1.1.1.0,Hamburger restaurants,3010306,NaN,59.913759,10.734031,MCDONALDS,NaN,23.828
2,984890265-981157303-64491,2016,BURGER KING HØNEFOSS,1.1.1.0,Hamburger restaurants,6050102,KONG RINGS GATE 1,60.164751,10.254656,BURGER KING,Kuben Hønefoss,16.099
3,914057442-992924179-126912,2016,BURGER KING GLASSHUSPASSASJEN,1.1.1.0,Hamburger restaurants,18040102,STORGATA 12,67.283669,14.379796,BURGER KING,Glasshuspassasjen,9.296
4,913018583-913063538-668469,2016,BURGER KING TILLERTORGET,1.1.1.0,Hamburger restaurants,16017414,NaN,63.358068,10.374832,BURGER KING,Tillertorget,4.528